# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
*/node_modules/
*/**/node_modules/
/client/node_modules

# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
