.generator-container {
    background-color: white;
    margin-bottom: 24px;
    color: #202e3a;
    box-shadow: 0 0 20px 0 rgba(50,50,50,0.1);
}

#generator-header {
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #8695B1;
    padding: 12px;
    margin-bottom: 24px;
    color: white;
}

#lorem-container {
    padding: 12px;
}
