.header-container {
    background-color: rgba(182,192,210,1);
    padding: 12px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(50,50,50,0.1);
    height: 65px;
}

.header-container .main-header {
    color: #202e3a;
    margin-top: 0px;
    font-family: 'Open Sans';
    margin-right: 24px;
    font-size: 26px;
    font-family: "Playfair Display SC";
    font-weight: bold;
    letter-spacing: 1.5px;
    vertical-align: middle;
}

.header-container .sub-heading {
    color: #202e3a;
    font-family: 'Roboto';
    vertical-align: middle;
}

.header-container .sub-heading .header-logo {
    margin-right: 24px;
}

@media (max-width: 768px) {
    .header-container {
        height: 120px;
    }

    .header-container .main-header {
        margin-right: 0px;
        font-size: 20px;
        display: block;
    }

    .header-container .sub-heading .header-logo {
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
