.header-container {
    background-color: rgba(182,192,210,1);
    padding: 12px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(50,50,50,0.1);
}

.header-container .main-header {
    color: #202e3a;
    margin-top: 0px;
    font-family: 'Open Sans';
    margin-right: 24px;
    font-size: 26px;
    font-family: "Playfair Display SC";
    font-weight: bold;
    letter-spacing: 1.5px;
}

.header-container .sub-heading {
    color: #202e3a;
    font-family: 'Roboto';
}
