.sidebar-container {
    background-color: white;
    color: #202e3a;
    box-shadow: 0 0 20px 0 rgba(50,50,50,0.1);
}

#sidebar-header {
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 12px;
    background-color: #8695B1;
    margin-bottom: 24px;
    color: white;
}

#generate-button {
    background-color: rgba( 59,143, 65,1);
    border-color: rgba( 59,143, 65,1);
    border-radius: 0px;
    margin: 12px;
    color: white;
}

#copy-button {
    background-color: #0046F3;
    border-color: #001C61;
    margin: 12px;
    color: white;
}

@media (max-width: 768px) {
    #sidebar-header {
        margin-bottom: 8px;
    }

    #generate-button {
        display: inline-block;
        width: 91%;
    }
}
